/* GENERAL */

* {

    margin: 0;
    padding: 0;
}

body {

    font-family: Arial, sans-serif;
    font-size: 15px;
}

a {

    text-decoration: none;
    color: #444;
}


/* HEADER */

.wrapper {

    width: 1550px;
    margin: 0 auto;
    padding: 10px;
    background-color: #191818;
}

#logo {

    width: 325px;
    height: auto;
    padding-top: 0 5px;
}

header nav {

    float: right;
    padding-top: 50px;
    margin-right: 135px;
}

header nav ul li {

    margin-top: 35px;
    float: left;
    display: inline-block;
}

header nav ul li a {

    text-transform: uppercase;
    font-weight: bold;
    margin-right: 45px;
    font-family: 'Lobster', cursive;
    font-size: 17px;
    color: #EEE;
}

header nav ul li a:hover {

    color: #BB002D;
}
