/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

html,body{
  height:100%;
  margin:0;
  padding:0;
}

body {

    font-family: Arial, sans-serif;
    font-size: 15px;
}

a {

    text-decoration: none;
    color: #444;
}


/* HEADER */

.wrapper {

    width: auto;
    background-color: #191818;
}

#logo {

    width: 325px;
    height: auto;
    padding: 10px 125px;
}

header nav {

    float: right;
    padding-top: 60px;
    margin-right: 255px;
}

header nav ul li {

    margin-top: 35px;
    float: left;
    display: inline-block;
}

header nav ul li a {

    text-transform: uppercase;
    font-weight: bold;
    margin-right: 45px;
    font-family: 'Lobster', cursive;
    font-size: 17px;
    color: #EEE;
}

header nav ul li a:hover {

    color: #BB002D;
}


/* SCROLL */

.scroll

{
    float: left;
    position: relative;
    max-width: 1250px;
    padding: 37px;
    overflow-y: scroll;
    display: block;
    height: 700px;
    
}

/* width */
::-webkit-scrollbar {
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #161515; 
}

/* NO SCROLL */

.no-scroll {
    position:fixed;
    float: right;
    margin-top: auto;
    margin-left: 69%;
    padding-bottom: 100%;
    width: 100%;
    height: auto;
    background-color: #BB002D;
}















































